.DS_Store
node_modules/
dist/
npm-debug.log
yarn-error.log
test/unit/coverage
run/
logs/
npm-debug.*
/server/src/config/config.local.ts
/server/src/config/config.prod.ts
/client/.idea
/server/.idea
/.idea